@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Info";
}
<div class="container-fluid full-width-container">
    <div class="row">
        <div class="logincard">
            <div class="pmd-card pmd-card-inverse pmd-z-depth-5">
                <div class="login-card">                    
                    <h3><strong>Success!</strong></h3>                    
                    <div class="pmd-card-body">
                        <p>Check your email and confirm your account</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>