@{
    ViewBag.Title = "Confirm Email";
}

<div class="container-fluid full-width-container">
    <h2>Confirm Email.</h2>
    <div class="row">
        <div class="logincard">
            <div class="pmd-card pmd-card-inverse pmd-z-depth-5">
                <div class="login-card">                    
                    <div class="pmd-card-body">
                        <p>Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
